<!DOCTYPE html>
<html>
<head>
  <title>RtiProjectTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- for visualizing data using a graph -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <!-- for mapping -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9z9wa6_AO_wJ9kjA3O-wrQCGhl3DM5ts"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 
</body>
</html>
